.document-list-container{
    margin: 5rem auto;
    width: 15rem;
    height: 24rem;
    border: 1px solid rgb(6, 6, 98);
    border-radius: 1rem;
    box-shadow: 0px 1px 10px rgb(6, 6, 98);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-new-document{
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 0.1rem; */
    box-shadow: 0px -3px 5px rgba(6, 6, 98,0.332);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

}
.form-textbox-document{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: 1.8rem;
    border: 1px solid rgb(6, 6, 98);
    text-indent: 1rem;

}
.add-document-button{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    border: 1px solid rgb(6, 6, 98);
    transition: 0.2s ease-in-out all;
}
.add-document-button:hover{
    background-color: rgb(6, 6, 98);
    color: white;
}

.document-list{
    width: 100%;
    height: 100%;
    overflow:scroll
    
}
.document-contianer{
    padding-left: 0.6rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.648);
    transition: 0.1s ease-in-out all;
}
.document-contianer p{
    padding: 0;
    margin: 0;
}
.document-contianer:hover{
    color: white;
    background-color: rgba(6, 6, 98, 0.756);
}
.document-contianer:first-child{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
hr{
    margin: 0;
    padding: 0;
}

.document-list::-webkit-scrollbar {
    width: 5px;
    margin-left: 50px;
    
  }
  /* Track */
  .document-list::-webkit-scrollbar-track {
    z-index: -5;
}

.document-list::-webkit-scrollbar-thumb {
    background: rgba(6, 6, 98, 0.756);
    border-radius: 5px;
    /* visibility: hidden; */
    transition: background 1s linear;
}
.errorMessage{
    background-color: red;
    width: 100%;
    height: 4rem;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 1rem;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.518);
    /* color: ; */
}