*, *::before, *::after{
    box-sizing: border-box; /*to work with width and height*/
}

/*full page*/
body{
    background-color: #fcfbeb;
    margin: 0; 
}

/*place where you type*/
.container .ql-editor{
    margin: 1rem;
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    background-color: white; 
}

/*page*/
.container .ql-container.ql-snow{
    border: none;
    justify-content:center;
    display: flex;
}

/*toolbar*/
.container .ql-toolbar.ql-snow{
    border: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    justify-content:center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:#fcfbeb;
}

