.form{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: min-content;
    height: min-content;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}
.form-textbox{
    width: 9rem;
    height: 1.2rem;
    margin-top: 1rem;
    border: none;
    border: 1px solid rgb(6, 6, 98);
    text-indent: 0.5rem;
    border-radius: 1rem;
}
.form-textbox:{

    margin-top: 1rem;
    border: none;
}
.login-button{
    width: 4rem;
    margin-top: 2rem;
    border: 1px solid rgb(6, 6, 98);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    transition: 0.1s ease-in-out all;

}
.login-button:hover{
    background-color: rgb(6, 6, 98);
    border: 1px solid white;
    color: white;

}
.checkbox--container{
    /* border: 1px solid red; */
    width: max-content;
}
.form-container{
    margin: 5rem auto;
    width: 15rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(6, 6, 98);
    border-radius: 1rem;
    box-shadow: 0px 1px 10px rgb(6, 6, 98);
    background-color: rgb(248, 247, 239);
}




/* the toggle button sign in and sign up */
.toggle {
    position : relative ;
    display : inline-block;
    width : 35px;
    height : 13px;
    background-color: rgba(253, 253, 253, 0.836);
    border-radius: 30px;
    border: 2px solid rgb(6, 6, 98);
}
        
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(42, 6, 249);
    top: 1px; 
    left: 1px;
    transition:  all 0.5s;
    left : -3px; 
    top: -2px;
}


.checkbox:checked + .toggle::after {
    left : 19px; 
    top: -2px;
}
        
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: rgb(6, 6, 98);
}
        
/* Checkbox vanished */
.checkbox { 
    display : none;
}

.checkbox--container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: min-content;
    align-self: flex-end;

    padding: 0 0.5rem 0 0;
    margin-top: 1rem;

}
.checkbox--container p{
    width: max-content;
    margin-right: 5px;
}

.user-icon{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    color:rgb(6, 6, 98); 
    margin-bottom: 1rem;
}